<div class="progress">
	<div id="state_percentage" class="status_percentage" data-bind="css: stateString ">
		<div style="margin-left: 0px"><strong data-bind="text: stateString"></strong></div>
		<div style="margin-left: 0px; margin-top: -20px"><span class="percentage_text pull-left" data-bind="text: progressInt() + '%' "></span></div>
		<span id="inside_box" data-bind="css: stateString, style: { width: progressString() + '%' } "></span>
	</div>
</div>
<strong id="file_loaded" data-bind="text: filename"></strong><br>
<!-- ko foreach: filament -->
<span data-bind="text: 'Filament (' + name() + '): '"></span><strong data-bind="text: formatFilament(data())"></strong><br>
<!-- /ko -->
<strong data-bind="text: printTimeString"></strong>/<strong data-bind="text: estimatedPrintTimeString"></strong><br>
<strong data-bind="text: printTimeLeftString"></strong> remaining

<div class="row-fluid print-control" style="display: none;" data-bind="visible: loginState.isUser">
	<button class="btn btn-primary span6" data-bind="click: ( isPrinting() ? pause : print ), enable: isOperational() && isReady() && loginState.isUser(), css: {'btn-primary': isPaused()}, visible: !isErrorOrClosed()" id="job_print"><i class="icon-white" data-bind="css: {'icon-print': !isPaused(), 'icon-pause': isPrinting()}"></i> <span data-bind="text: !( isPaused() || isPrinting() ) ? 'Print' : ( isPrinting() ? 'Pause' : 'Resume' ) ">Print</span></button>
        <button class="btn span6" id="job_cancel" data-bind="click: cancel, enable: isOperational() && isPaused() && loginState.isUser(), visible: !isErrorOrClosed()"><i class="icon-stop"></i> Cancel</button> 
        <div class="btn btn-block" id="printer_connect" style="font-size:20px; padding:15px; border: solid 1px; border-color: #ddd" data-bind="click: connect_state, text: buttonText(), enable: loginState.isUser(), visible: isErrorOrClosed()">{{ _('Connect') }}</div>
</div>
